.custom-loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.custom-loader-container {
  /* text-align: center; */
}

.custom-loader-message {
  margin-top: 10px;
  color: #fff;
  margin-right: -12%;
}
