.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f7fa;
}
.password-wrapper input::-ms-reveal {
  display: none;
}
.password-wrapper input::-ms-clear {
  display: none;
}
.login-form {
  background: white;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.login-form h2 {
  margin-bottom: 20px;
  color: #333;
}

.login-form label {
  display: block;
  text-align: left;
  font-size: 14px;
  margin: 10px 0 5px;
  color: black;
}

.login-form input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  margin-bottom: px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.password-wrapper {
  position: relative;
}

.password-wrapper .toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.login-button {
  width: 95%;
  height: 35px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 2%;
}

.login-button:hover {
  background-color: #0056b3;
}

.register-redirect {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}


.register-link {
  padding-left: 5px;
  color: #007bff;
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}
.microsoft-button:hover{
  box-shadow: 1px 1px 5px #060f18;
}
.microsoft-button {
  width: 110px;
  height: 35px;
  padding: 5px;
  border: 1px solid ;    
  background-color: #FFFFFF;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 7px;
}
.microsoft-logo{
  margin:0px 0 3px;
  width: 80px;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); /* semi-transparent overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* make sure it appears on top */
}

.spinner-border {
  width: 3rem;
  height: 3rem;
  border: 0.4em solid rgba(255, 255, 255, 0.3);
  border-top: 0.4em solid white;
  border-radius: 50%;
  animation: spin 0.75s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
